.main {
  &:hover {
    border-color: #F7F5F1;
  }

  &__input {
    border: none;
    width: 116px;
    height: 32px;
    display: flex;
    align-items: center;
    color: $cWhite;
    background-color: $cBlue;
    transition: color $transitionTime;

    &:hover {
      background-color: $cBlueDark;
    }
  }

  &__link:last-child {
    color: black;
    pointer-events: none;
  }

  &__link {
    background: none;
    border: none;
    color: gray;
    font-size: 18px;

    &:hover {
      color: black;
      text-decoration: underline;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}