$cWhite: white;
$cMainGray: #f7f5f1;
$cMainBlack: black;
$cGrayDark: #efece5;
$cGrayDarkest: #e7ded0;
$cGrayBorder: #a2998a;
$cGrayWords: #736c64;
$cBlue: #065cde;
$cBlueDark: #004ec7;

$boxShadow: 0px 8px 32px #1e191908, 0px 8px 16px #1e191908, 0px 4px 8px #1e191908, 0px 2px 4px #1e191908, 0px 1px 2px #1e191908;
$transitionTime: 0.3s;